# Unity generated directories
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
MemoryCaptures/
Recordings/
DerivedDataCache/
Artifacts/
BuildPlayerData/

# Unity cache files
*.pidb
*.pdb
*.mdb
*.opendb
*.VC.db
*.csproj
*.sln
*.unityproj
*.booproj
*.user
*.userprefs
*.suo
*.tmp
*.bak
*.orig

# Unity package cache
Packages/com.unity.asset-store-tools*/
Assets/AssetStoreTools*

# Platform-specific builds
*.apk
*.aab
*.ipa
*.app
*.exe
*.appx
*.xcodeproj
*.xcworkspace
*.xcuserstate
*.xcuserdata

# Misc
sysinfo.txt
*.unitypackage
*.log

# Third-party binaries
Assets/3rdparty/SimpleITK/*.dll

